@model DSW_CL1_JOSUE_CHUPICA.Entity.Empleado

@{
    ViewBag.Title = "Create";
}

<h2>REGISTRO DE EMPLEADO</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Empleado(a)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">ID</label> 
        <div class="col-md-10">
            @Html.EditorFor(model => model.idEmpleado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idEmpleado, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <label class="control-label col-md-2">APELLIDOS</label> 
            <div class="col-md-10">
                @Html.EditorFor(model => model.apeEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apeEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">NOMBRES</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">FECHA NACIMIENTO</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FecNac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FecNac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">DIRECCIÓN</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dirEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dirEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">ID DISTRITO</label>
            <div class="col-md-10">
                @Html.DropDownList("idDistrito", (SelectList)ViewBag.distrito, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">CELULAR</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.celEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.celEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">ID CARGO</label>
            <div class="col-md-10">
                @Html.DropDownList("idCargo", (SelectList)ViewBag.cargo, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">FECHA CONTRATO</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecContrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecContrato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retornar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
